[Unit]
Description=Solana validator
After=network.target syslog.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
LimitNOFILE=1000000
Environment=SOLANA_METRICS_CONFIG=host=https://metrics.solana.com:8086,db=tds,u=testnet_write,p=c4fa841aa918bf8274e3e2a44d77568d9861b3ea
ExecStart=/root/.local/share/solana/install/active_release/bin/solana-validator \
--dynamic-port-range 8000-8020 \
--entrypoint entrypoint.testnet.solana.com:8001 \
--entrypoint entrypoint2.testnet.solana.com:8001 \
--entrypoint entrypoint3.testnet.solana.com:8001 \
--expected-genesis-hash 4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY \
--wal-recovery-mode skip_any_corrupted_record \
--identity /root/solana/validator-keypair.json \
--vote-account /root/solana/vote-account-keypair.json \
--ledger /root/solana/ledger \
--limit-ledger-size 50000000 \
--log /root/solana/solana.log \
--full-snapshot-interval-slots 50000 \
--incremental-snapshot-interval-slots 1000 \
--maximum-full-snapshots-to-retain 1 \
--maximum-local-snapshot-age 2000 \
--minimal-snapshot-download-speed 20000000 \
--rocksdb-shred-compaction fifo \
--full-rpc-api \
--private-rpc \
--rpc-port 8899
ExecReload=/bin/kill -s HUP
ExecStop=/bin/kill -s QUIT
[Install]
WantedBy=multi-user.target

